footer p {
    float: right;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  padding: .4em;
}

.carousel {

  height:360px;
  
  }
  
  .carousel-item img {
  
  height:360px;
  
  object-fit: contain;
  
  }

  .media img {
    height:360px;
  
    object-fit: contain;
    padding-bottom: .4em;
  }

  .carousel-caption h5, 
  .carousel-caption p {
      color: rgba(248, 248, 250, 0.514);
  }