/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron h2 {
  text-align: center;
  color: rgba(2, 11, 20, 0.548);
}

footer p {
  float: right;
}
h1 {
font-family: 'Josefin Sans', sans-serif;
padding: .4em;
}

.carousel-item img {
  object-fit: contain;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  padding: .4em;
}

.carousel {

  height:360px;
  
}
  
.carousel-item img {
  
  height:360px;
  
  object-fit: contain;
  
}

  html {
  font-size: 1rem;
}

.bottomRow p,
.bottomRow h2 {
  text-align: center;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }