/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron h2 {
  text-align: center;
  color: rgba(2, 11, 20, 0.548);
}

footer p {
  float: right;
}
h1 {
font-family: 'Josefin Sans', sans-serif;
padding: .4em;
}

.carousel-item img {
  object-fit: contain;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  padding: .4em;
}

.carousel {

  height:360px;
  
}
  
.carousel-item img {
  
  height:360px;
  
  object-fit: contain;
  
}

  html {
  font-size: 1rem;
}

.bottomRow p,
.bottomRow h2 {
  text-align: center;
}
