/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

  h1 {
    color: #282E34;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: .4em;
  }

  #firstP {
    text-align: center;
  }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }



footer p {
    float: right;
}
/* h1 {
  font-family: 'Josefin Sans', sans-serif;
  padding: .4em;
} */

.carousel {

  /* height:360px; */
  
  }
  
  .carousel-item img {
  
  /* height:360px; */
  
  object-fit: contain;
  
  }

  .media img {
    height:360px;
  
    object-fit: contain;
    padding-bottom: .4em;
  }

  .bottomRow p,
  .bottomRow h2 {
    text-align: center;
  }